<section class="container">
    <article class="row align-items-start my-5 gx-4">
        <aside class="col-4">
            <div class="d-flex flex-column gap-3">
                @for (user of users; track $index) {
                <div class="dropdown mb-2" (click)="toggleUser(user.id)" [ngClass]="{'active': activeUser === user.id}">
                    <p class="userBtn mb-0">
                        {{ user.name.slice(0, 14) }}
                    </p>
                    @if (activeUser === user.id) {
                    <div class="dropdown-content my-2 ms-5">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a 
                                    class="text-decoration-none" 
                                    [routerLink]="['/users', user.id]">Posts</a>
                            </li>
                            <li>
                                <a class="text-decoration-none"
                                    [routerLink]="['/users', user.id , 'details']">Details</a>
                            </li>
                        </ul>
                    </div>
                    }
                </div>
                }
            </div>
        </aside>

        <article class="col-8">
            <router-outlet></router-outlet>
        </article>
    </article>
</section>